################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Mission08_Team0203/FileContentIndex/b6a3a96a-1a91-4814-a985-4e6998d7274e.vsidx
/.vs/Mission08_Team0203/FileContentIndex/f0ee6ad0-32bb-4eb8-95c2-e41d9323d2df.vsidx
/.vs/Mission08_Team0203/FileContentIndex/fcf94ab5-c99f-4329-962b-cfe519eee508.vsidx
/.vs/Mission08_Team0203/v18/.suo
/Mission08_Team0203/obj/Debug/net10.0/Mission08_Team0203.AssemblyInfo.cs
/Mission08_Team0203/obj/Debug/net10.0/Mission08_Team0203.AssemblyInfoInputs.cache
/Mission08_Team0203/obj/Debug/net10.0/Mission08_Team0203.assets.cache
/Mission08_Team0203/obj/Debug/net10.0/Mission08_Team0203.GeneratedMSBuildEditorConfig.editorconfig
/Mission08_Team0203/obj/Debug/net10.0/rpswa.dswa.cache.json
/Mission08_Team0203/obj/Debug/net10.0/staticwebassets.removed.txt
/.vs/Mission08_Team0203/FileContentIndex/a3f8ae4d-102b-4857-9b0b-b76493619f74.vsidx
