################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Mission08_Team0203/FileContentIndex/b6a3a96a-1a91-4814-a985-4e6998d7274e.vsidx
