@{
    ViewData["Title"] = "Home Page";
}

<h1>Hello!</h1>
<h3>Welcome to your Task Manager!</h3>
<br />
<p>Here you can add/edit any task, and mark them as complete when they are done. Navigate to the Quadrants view to see your
    current tasks. 
</p>